---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Apolo";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.gif" />
    </div>
    <h1>Apolo-X1</h1>
    <small>Desarrollador de Software</small>
    <h2 id="experiencia-titulo">Experiencia</h2>
    <p id="experiencia-descripcion">
        Trabajé durante mis prácticas en la empresa <strong>RED COMERCIAL LA MINA S.A.S</strong>. En el tiempo que estuve, realicé las siguientes actividades:
        <br /><br />
        <strong>Mantenimiento y Desarrollo de Software Interno:</strong>
        <br />
        Participé en el desarrollo y mantenimiento de un software interno de la empresa, donde contribuí con nuevas funcionalidades y optimizaciones, utilizando Java como lenguaje principal de programación.
        <br /><br />
        <strong>Creación de un Servicio Windows:</strong>
        <br />
        Desarrollé un servicio en Windows utilizando Python, que automatiza la actualización periódica de información en una base de datos PostgreSQL.
        <br /><br />
        <strong>Desarrollo de un Sitio Web Interno para el Seguimiento de Pedidos y Domicilios:</strong>
        <br />
        Implementé un sitio web interno que gestiona los pedidos y domicilios de la empresa, facilitando la creación, edición, eliminación y generación de reportes, además de la administración de usuarios y roles. El proyecto inició con un servidor en Python, que fue migrado a C#; la base de datos es PostgreSQL, y el frontend fue desarrollado en JavaScript.
        <br /><br /><br />
        <strong>Trabajo Freelance:</strong>
        <br />
        Realicé un proyecto web para un cliente que necesitaba gestionar un historial de clientes contactados. Implementé una solución utilizando JSON para manejar la información de manera eficiente. El desarrollo incluyó el uso de HTML, CSS y JavaScript en el frontend, y Express en el servidor.
    </p>

    <h2 id="herramientas">Herramientas</h2>
    <div class="link-images">
        <img width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" />
        <img width="46" height="46" alt="Csharp" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" />
        <img width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
        <img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
        <img width="46" height="46" alt="Postgres" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" />
        <img width="46" height="46" alt="MySQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" />
        <img width="46" height="46" alt="HTML5" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />
        <img width="46" height="46" alt="CSS3" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />
    </div>
    <br /><br />
    <h2 id="acerca-titulo">Acerca de mí</h2>
    <p id="acerca-saludo">¡Hola, soy David!</p>
    <p id="acerca-info">
        Si estás interesado en contactarme para conocernos mejor, puedes hacerlo a través de LinkedIn o el correo que aparece en el footer de la página :)
    </p>
    <p id="acerca-final">
        ¡Ten un excelente día y recuerda disfrutar de cada momento!
    </p>


</Layout>

<style>
    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        background: rgba(0, 0, 0, 0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #fdebf3;
        font:
            600 16px "Josefin Sans",
            sans-serif;
        padding: 8px 16px;
        transition:
            background-color 0.4s,
            color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #1e1e2e;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
<script>
    // Función para cambiar el idioma
    const toggleLanguage = () => {
        const currentLang = document.documentElement.lang;
        const newLang = currentLang === "es" ? "en" : "es";
        document.documentElement.lang = newLang;
        document.getElementById("lang-toggle").textContent = newLang === "es" ? "English" : "Español";
        localStorage.setItem("lang", newLang);
        updateContent(newLang);
    };

    // Cambia el contenido de la página
    const updateContent = (lang) => {
        if (lang === "en") {
            document.querySelector("h1").textContent = "Apolo-X1";
            document.querySelector("small").textContent = "Software Developer";
            document.querySelector("#acerca-titulo").textContent = "About Me";
            document.querySelector("#hola-mundo-pro").textContent = "Hello World!";
            document.querySelector("#acerca-saludo").textContent = "Hello, I'm David!";
            document.querySelector("#acerca-info").textContent =
                "If you are interested in contacting me to get to know each other better, you can do so through LinkedIn or the email that appears in the footer of the page :)";
            document.querySelector("#acerca-final").textContent =
                "Have an excellent day and remember to enjoy every moment!";
            
            document.querySelector("#experiencia-titulo").textContent = "Experience";
            document.querySelector("#experiencia-descripcion").innerHTML = 
                `During my internship at <strong>RED COMERCIAL LA MINA S.A.S</strong>, I performed the following activities:
                <br /><br />
                <strong>Maintenance and Development of Internal Software:</strong> <br>
                I participated in the development and maintenance of the company's internal software, where I contributed with new functionalities and optimizations, using Java as the main programming language.
                <br /><br />
                <strong>Creation of a Windows Service:</strong> <br>
                I developed a service in Windows using Python, which automates the periodic update of information in a PostgreSQL database.
                <br /><br />
                <strong>Development of an Internal Website for Order and Delivery Tracking:</strong> <br>
                I implemented an internal website that manages the company's orders and deliveries, facilitating the creation, editing, deletion, and generation of reports, as well as the administration of users and roles. The project started with a Python server, which was migrated to C#; the database is PostgreSQL, and the frontend was developed in JavaScript.
                <br /><br /><br />
                <strong>Freelance Work:</strong> <br>
                I completed a web project for a client who needed to manage a history of contacted clients. I implemented a solution using JSON to handle the information efficiently. The development included the use of HTML, CSS, and JavaScript on the frontend, and Express on the server.`;
        } else {
            document.querySelector("h1").textContent = "Apolo-X1";
            document.querySelector("small").textContent = "Desarrollador de Software";
            document.querySelector("#acerca-titulo").textContent = "Acerca de mí";
            document.querySelector("#hola-mundo-pro").textContent = "¡Hola Mundo!";
            document.querySelector("#acerca-saludo").textContent = "¡Hola, soy David!";
            document.querySelector("#acerca-info").textContent =
                "Si estás interesado en contactarme para conocernos mejor, puedes hacerlo a través de LinkedIn o el correo que aparece en el footer de la página :)";
            document.querySelector("#acerca-final").textContent =
                "¡Ten un excelente día y recuerda disfrutar de cada momento!";
            
            document.querySelector("#experiencia-titulo").textContent = "Experiencia";
            document.querySelector("#experiencia-descripcion").innerHTML = 
                `Trabajé durante mis prácticas en la empresa <strong>RED COMERCIAL LA MINA S.A.S</strong>. En el tiempo que 
                estuve, realicé las siguientes actividades:
                <br /><br />
                <strong>Mantenimiento y Desarrollo de Software Interno:</strong> <br>
                Participé en el desarrollo y mantenimiento de un software interno de la empresa, donde contribuí con nuevas funcionalidades y optimizaciones, utilizando Java como lenguaje principal de programación.
                <br /><br />
                <strong>Creación de un Servicio Windows:</strong> <br>
                Desarrollé un servicio en Windows utilizando Python, que automatiza la actualización periódica de información en una base de datos PostgreSQL.
                <br /><br />
                <strong>Desarrollo de un Sitio Web Interno para el Seguimiento de Pedidos y Domicilios:</strong> <br>
                Implementé un sitio web interno que gestiona los pedidos y domicilios de la empresa, facilitando la creación, edición, eliminación y generación de reportes, además de la administración de usuarios y roles. El proyecto inició con un servidor en Python, que fue migrado a C#; la base de datos es PostgreSQL, y el frontend fue desarrollado en JavaScript.
                <br /><br /><br />
                <strong>Trabajo Freelance:</strong> <br>
                Realicé un proyecto web para un cliente que necesitaba gestionar un historial de clientes contactados. Implementé una solución utilizando JSON para manejar la información de manera eficiente. El desarrollo incluyó el uso de HTML, CSS y JavaScript en el frontend, y Express en el servidor.`;
        }
    };

    // Agregar evento de click al botón
    document.getElementById("lang-toggle").addEventListener("click", toggleLanguage);

    document.addEventListener("DOMContentLoaded", () => {
        const savedLang = localStorage.getItem("lang") || "es";
        document.documentElement.lang = savedLang;
        updateContent(savedLang);
        document.getElementById("lang-toggle").textContent = savedLang === "es" ? "English" : "Español";
    });
</script>
