---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Hello World</a>
    </div>
    <div class="nav-links">
        <a href="https://github.com/Apolo-X1" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>
