---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/" id="hola-mundo-pro">¡Hola mundo!</a>
    </div>
    <div class="nav-links">
        <a href="https://github.com/Apolo-X1" target="_blank">GitHub</a>
        <button id="lang-toggle">Español</button>
        <ThemeIcon />
    </div>
</div>
